html, body {
  font-family: ntatabularnumbers, nta, sans-serif;
  
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

#releases {
  width: 100%;
  border-collapse: collapse;
}

#releases th, td {
  text-align: left;
  vertical-align: top;
  margin: 0;
}

#releases td.component {
  font-size: 110%;
  vertical-align: middle;
}

#releases td.component div.name {
  padding: 0.5em;
  line-height: 100%;
  text-align: center;
}

#releases tr:last-child td {
  height: 100%;
}

#releases th {
  height: 1em;
  text-align: center;
  vertical-align: middle;  
  padding: 1em 1em 0.5em 1em;
  font-size: 1.5em;
}

#releases tr:nth-child(even) td.component {
  background-color: #395660;
}

#releases tr:nth-child(even) td.releases {
  width: 100%;
  background-color: #395660;
}

#releases tr:nth-child(even) td.staging {
  width: 11.2em;
  background-color: #a18f5e;
}

#releases tr:nth-child(even) td.production {
  width: 11.2em;
  background-color: #82a15e;
}

#releases tr:nth-child(odd) td.component {
  background-color: #263940;
}

#releases tr:nth-child(odd) td.releases {
  width: 100%;
  background-color: #263940;
}

#releases tr:nth-child(odd) td.staging {
  width: 11.2em;
  background-color: #81724b;
}

#releases tr:nth-child(odd) td.production {
  width: 11.2em;
  background-color: #68814b;
}

#releases tr td.releases {
  height: 4.5em;
  overflow: hidden;
}

.release {
  position: relative;

  width: 16em;
  height: 5.4em;

  margin: 0.75em;
  border-radius: 1em;
  
  text-align: center;
  color: white;
  background-color: #7F8078;
}

#releases .releases {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

#releases .releases .release {
  float: right;
}

.release a {
  color: white!important;
}


.number {
  position: absolute; top: 0; left: 0; width: 25%; height: 1.8em; font-size: 2em; line-height: 1.8em; 
}

.author {
  position: absolute; top: 0; right: 0; width: 75%; height: 1.8em;  line-height: 1.8em;
}

.timestamp {
  position: absolute; top: 1.8em; right: 0; width: 75%; height: 1.8em; line-height: 1.8em;
}

.info {
  position: absolute; bottom: 0; left: 0; width: 100%; height: 1.8em; line-height: 1.8em; border-radius: 0 0 1em 1em;
}

.info.warning {
    background-color: #F47738;
}

.info.approved {
    background-color: #5c9317;
}

.info.ok {
    background-color: #395660;
}

.info.alarm { 
    background-color: #BF1E2D;
}


