<html>
<head>
  <meta http-equiv="refresh" content="60">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='hud.css') }}">
  <link rel="stylesheet" href="https://assets.digital.cabinet-office.gov.uk/static/fonts.css">
  <title>GOV.UK Pay Releases</title>
</head>

<body>
  <table id="releases">
    <tr>
      <th style="font-size:1px; width: 10em;">&nbsp;</th>
      <th class="releases" style="text-align: left;">Releases</td>
      <th class="staging">Staging</td>
      <th class="production">Production</th>
    </tr>
    {% for component in components %}
      <tr>
        <td class="component">
          <div class="name">
            {{ component.repo.name[4:] }}
          </div>
        </td>
        
        <td class="releases">
          <div style="width: 100%; height: 6.8em; overflow: hidden; ">
            {% for release in component.releases %}
              {% if release.stage == TagType.RELEASE_APPROVED %}
                {% include 'release-approved.html' %}
              {% else %}
                {% include 'release-created.html' %}
              {% endif %}
            {% endfor %}
          </div>
        </td>
      
        <td class="staging">
          {% if component.staging_deployed %}
            {% set release = component.staging_deployed %}
            {% include 'staging-deployed.html' %}
          {% endif %}
          
          {% if component.staging_approved %}
            {% set release = component.staging_approved %}
            {% include 'staging-approved.html' %}
          {% endif %}
          
          {% if component.staging_promoted %}
            {% set release = component.staging_promoted %}
            {% include 'staging-promoted.html' %}
          {% endif %}
        </td>
      
        <td class="production">
          {% if component.production_behind %}
            {% set release = component.production_behind %}
            {% if components_behind > 1 %}
              {% include 'production-behind-multiple.html' %}
            {% else %}
              {% include 'production-behind.html' %}
            {% endif %}
          {% endif %}
          
          {% if component.production_deployed %}
            {% set release = component.production_deployed %}
            {% include 'production-deployed.html' %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>